*.egg-info
.idea
*.cpython-311.pyc
outputs
logs
wandb
MUJOCO_LOG.TXT
deploy/robots/go2/build
deploy/robots/go2_height/build
deploy/robots/go2_arm/build
deploy/robots/g1/build
deploy/robots/g1_23dof/build
deploy/robots/h1_2/build